doctype html
html
    head
        title Index Page
    body
        // JADE String
        #header
            h1 Hello jade .. !
            h2 Lorem ipsum
        hr
        .article
            a(href="http://hanbit.co.kr", data-test="multiple Attribute") Go To Hanbit Media