<!DOCTYPE html>
<html lang="ko">
<head>
    <title>200917 과제</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="#">
            <img src="img/hoseo.png" alt="호서직업능력개발원"
                 style="height: 40px; margin-left: 50px; margin-right: 100px;">
        </a>
        <ul class="nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-home"></i>홈</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="index.html">로그아웃</a>
            </li>
        </ul>
        <div class="navbar-text fixed-right" id="weather">
            홍길동님 반갑습니다.&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="fas fa-cloud-sun"></i> 20&deg;C
        </div>
    </nav>

    <div class="container" style="margin-top: 90px;">
        <div class="row">
            <div class="col-2">
                <ul class="nav flex-column nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">역사</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="2.android.html">안드로이드 폰</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="3.iphone.html">아이폰</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="4.sample.html">샘플</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">2020년 출시</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="5.2020.html">갤럭시 S20</a>
                            <a class="dropdown-item" href="5.2020.html">V60 씽큐</a>
                            <a class="dropdown-item" href="5.2020.html">아이폰 12</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="5.2020.html">갤럭시 Z 플립</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-10">
                <h3><strong>역사</strong> <small>- 부제 영역</small></h3>
                <hr>
                <div class="row">
                    <div class="col-8">
                        <p>스마트폰은 PC와 같은 기능과 더불어 고급 기능을 제공하는 휴대 전화이다. 
                            응용 프로그램 개발자에게는 표준화된 인터페이스와 플랫폼을 제공하여 완전한 운영 체제 소프트웨어를 실행하는 전화일 것이고, 
                            다수의 일반인에게는 전자 우편·인터넷·전자책 읽기 기능·내장형 키보드·외장 USB 키보드·mini-HDMI 단자 등을 갖춘 고급 기능이 있는 전화로 비칠 수 있다. 
                            다시 말해 스마트폰은 전화 기능이 있는 소형 컴퓨터라 볼 수 있다.</p> 
                        <p>최초의 스마트폰은 IBM 사이먼이다. IBM사가 1992년에 설계하여 그 해에 미국 네바다 주의 라스베이거스에서 열린 컴댁스에서 컨셉 제품으로 전시되었다.
                            1993년에 대중에게 공개되었고 벨사우스에게 팔렸다. 
                            휴대 전화의 기능을 할 뿐 아니라 주소록, 세계 시각, 계산기, 메모장, 전자 우편, 팩스 송수신, 오락까지 할 수 있었다. 
                            전화 번호를 누르기 위한 물리적인 단추가 없이 터치 스크린을 사용하여 손가락으로 전화 번호를 입력할 수 있었다. 
                            또, 팩시밀리와 메모를 수행하기 위해 부가적인 스타일러스 펜을 사용할 수 있었다. 문자열 또한 화면 상의 키보드로 입력이 가능하였다. 
                            오늘날의 표준에서 사이먼은 매우 저가 제품으로 여겨져 있으나 당시에는 믿기지 못할 정도로 기능이 고급이었다고 평가 받았다.</p>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <img class="card-img-top rounded" src="img/fold2.jpg" alt="갤럭시 Z 폴드2" style="width:100%">
                            <div class="card-body text-center">
                                <p class="card-text">갤럭시 Z 폴드2</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center fixed-bottom">
        <span class="navbar-text">
            Copyright &copy; 2020 Hoseo Institute of Big Data
        </span>
    </nav>
</body>
</html>