<!DOCTYPE html>
<html lang="en">

<head>
	<title>Bootstrap Example</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container mt-5">
	<div class="row">
		<div class="col-1"></div>
		<div class="col-7">
			<h4>제목</h4>
			<h6>글번호: 1006 | 2020-10-14 15:23:45</h6>
		</div>
		<div class="col-3" style="text-align: right;">
			<h4>홍길동</h4>
			<h6>조회 21&nbsp;&nbsp;댓글 5</h6>
		</div>
		<div class="col-1"></div>
		<div class="col-12"><hr></div>
		<div class="col-1"></div>
		<div class="col-10">
			<p>
				올해 프랑스오픈 테니스대회에서 여자 단식 트로피를 들어 올리며 
				'신성'으로 떠오른 이가 시비옹테크(19·폴란드)가 사상 다섯 번째 '골든 슬램'의 야망을 드러냈다.
			</p>
		</div>
		<div class="col-1"></div>
		<div class="col-12"><hr></div>
		<div class="col-1"></div>
		<div class="col-10">
			<div class="card bg-light text-dark" style="margin-right: 45%;">
				<div class="card-body">Light card</div>
			</div>
			<div class="card bg-light text-dark" style="margin-right: 45%;">
				<div class="card-body">Light card</div>
			</div>
			<div class="card" style="margin-left: 60%;">
				<div class="card-body">Basic card</div>
			</div>
			<form class="form-inline">
				<input type="hidden" name="bid" value="">
				<label for="reply" class="ml-5 mt-3 mr-3">댓글</label>
				<textarea class="ml-3 mt-3 mr-3" id="reply" name="reply" rows="3" cols="80"></textarea>
				<button type="submit" class="btn btn-primary ml-3 mt-3 mr-5">등록</button>
			</form>
		</div>
		<div class="col-1"></div>
	</div>
</div>
</body>

</html>