<!DOCTYPE html>
<html lang="en">

<head>
	<title>Bootstrap Example</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

	<div class="container">
		<div class="row">
			<div class="col-12">
				<h3>회원 가입</h3>
				<hr>
			</div>
			<div class="col-3"></div>
			<div class="col-6">
				<form action="/user/register" method="post">
					<table class="table table-borderless">
						<tr>
							<td><label for="uid">사용자 ID</label></td>
							<td><input type="text" name="uid" id="uid"></td>
						</tr>
						<tr>
							<td><label for="pwd">패스워드</label></td>
							<td><input type="password" name="pwd" id="pwd"></td>
						</tr>
						<tr>
							<td><label for="pwd2">패스워드 확인</label></td>
							<td><input type="password" name="pwd2" id="pwd2"></td>
						</tr>
						<tr>
							<td><label for="uname">이름</label></td>
							<td><input type="text" name="uname" id="uname"></td>
						</tr>
						<tr>
							<td colspan="2" style="text-align: center;">
								<input class="btn btn-primary" type="submit" value="제출">
								<input class="btn btn-secondary" type="reset" value="취소">
							</td>
						</tr>
					</table>
				</form>
			</div>
			<div class="col-3"></div>
		</div>
	</div>

</body>

</html>